.dlm-logo {
    padding: 1.2rem 0;
    text-align: left;
}

.dlm-logo-icon {
    width: 80%;
    height: 80%;
}
/*.dlm-logo-text1 {
    height: 1.5rem;
    width: 6rem;
    color: #606060;
    font-size: 21px;
    letter-spacing: 0.27px;
    line-height: 21px;
}

.dlm-logo-text2 {
    height: 1.75rem;
    width: 16rem;
    color: #115297;
    font-size: 28px;
    letter-spacing: -0.49px;
    line-height: 34px;
    margin-left: 1rem;
}*/
