.download-progress-modal-30w {
    width: 10rem;
    max-width: none !important;
}

.download-progress-modal-30w .modal-content{
    border: none;
    background: transparent;
    color: #FFF;
}

.download-progress-text {
    text-align: center;
}